# bash profile for {{ deploy_user }} / {{ app_name }}
# NOTE: this file is {{ ansible_managed }}

{% if install_root is defined %}
# alias to change directory to current deployed version
# and activate python virtualenv
alias activate="cd {{ install_root }}/current && source env/bin/activate"
{% endif %}

