
# Prodigy runs on port 8080
upstream prodigy {
    server localhost:8080;
}

server {
        listen 80;

        server_name prodigy;

        root /var/www/html;
        ## index index.html;



        ## location / {
                ## try_files $uri $uri/ =404;
        ## }

        # for all other requests, proxy to prodigy app
        location / {
                proxy_pass http://prodigy;
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_connect_timeout      2h;
                proxy_send_timeout         2h;
                proxy_read_timeout         2h;
        }

}
