{
    "db": "postgresql",
    "db_settings": {
        "postgresql": {
        	"host": "{{ db_host }}",
        	"name": "{{ application_db_name }}",
        	"user": "{{ application_dbuser_name }}",
        	"password": "{{ application_dbuser_password }}"
        }
    },
    "host": "0.0.0.0"
}