[defaults]
inventory=./inventory
stdout_callback=yaml
stderr_callback=yaml
host_key_checking=false
roles_path=roles
filter_plugins=filter_plugins
interpreter_python=/usr/bin/python3
# need to document how to use the lpass scripts without this setting
# the setting breaks tower inventory syncing
# vault_identity_list=default@bin/lpass_default.sh,geniza@bin/lpass_geniza.sh

[ssh-connection]
pipelining=true

[inventory]
enable_plugins = ini, yaml, auto, toml, script, host_list

