[defaults]
inventory=hosts
stdout_callback=yaml
stderr_callback=yaml
host_key_checking=false
roles_path=roles
filter_plugins=filter_plugins
interpreter_python=/usr/bin/python3
#vault_identity_list=default@bin/lpass_default.sh,geniza@bin/lpass_geniza.sh

[ssh-connection]
pipelining=true
