[defaults]
inventory=./inventory
stdout_callback=yaml
stderr_callback=yaml
host_key_checking=false
roles_path=roles
filter_plugins=filter_plugins
interpreter_python=/usr/bin/python3
# vault identity list must be set via environment variable

[ssh-connection]
pipelining=true

[inventory]
enable_plugins = ini, yaml, auto, toml, script, host_list

