---
- name: Clone and deploy a project repository
  block:
    - name: Ensure base clone and install roots exist
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        state: directory
        mode: '0755'
      loop:
        - "{{ install_root }}"
        - "{{ clone_root }}"
      tags: [setup]

    - name: Mark clone path as safe for git
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.command:
        cmd: "git config --global --add safe.directory {{ clone_root }}/{{ repo }}"
      changed_when: false

    - name: Primary clone of repository
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ clone_root }}/{{ repo }}"
        version: "{{ gitref }}"
        depth: "{{ 1 if git_shallow_clone | default(false) else 0 }}"
      register: repo_info
      tags: [always]

    - name: Determine version of python app being deployed
      ansible.builtin.import_tasks: python_app_version.yml
      when: python_app is defined
      tags: [always]

    - name: Create the specific deploy directory
      become: true
      ansible.builtin.file:
        path: "{{ deploy }}"
        state: directory
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        mode: '0755'
        recurse: yes
      tags: [setup]

    - name: Mark deploy path as safe for git
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.command:
        cmd: "git config --global --add safe.directory {{ deploy }}"
      changed_when: false

    - name: Create shallow checkout of deploy branch to deploy directory
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.git:
        repo: "{{ clone_root }}/{{ repo }}"
        dest: "{{ deploy }}/"
        version: "{{ gitref }}"
        single_branch: true
        depth: 1
        force: true
      tags: [always]

  rescue:
    - name: Include failure tasks
      ansible.builtin.include_tasks: "../../create_deployment/tasks/fail.yml"
      ignore_errors: true
