---
# back up a solr collection to a location on solr server
- name: Solr_collection - backup solr collection
  run_once: true
  tags: [solr_backup]
  block:
    - name: Solr_collection - request Solr collection backup
      ansible.builtin.uri:
        url: "{{ solr_url }}admin/collections?action=BACKUP&collection={{ solr_collection }}&name={{ solr_backup_filename }}&location={{ solr_backup_location }}&async={{ solr_backup_request_id }}"
      register: backup_response
      # NOTE: using async request, since backup for larger collections
      # maky take some time

      # use the async request id to check status; wait until task completes
    - name: Solr_collection - request backup status
      ansible.builtin.uri:
        url: "{{ solr_url }}admin/collections?action=REQUESTSTATUS&requestid={{ solr_backup_request_id }}"
      register: status_response
      # known states: running, completed, failed, notfound
      until: status_response.json["status"]["state"] != "running"
      retries: 15
      delay: 10

    - name: Solr_collection - report backup success
      ansible.builtin.debug:
        msg: "Successfully backed up {{ solr_collection }} to {{ solr_backup_location }}{{ solr_backup_filename }}"
      when: status_response.json["status"]["state"] == "completed"

    - name: Solr_collection - report backup error
      ansible.builtin.debug:
        msg: "Backup {{ status_response.json['status']['state'] }}: {{ status_response.json['exception']['msg'] }}"
      when: status_response.json["status"]["state"] != "completed"
