# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/solr_collection
- name: Solr_collection - create the base directory for Solr configsets
  delegate_to: "{{ solr_server }}"
  ansible.builtin.file:
    path: "/solr/cdh_solr/"
    state: directory
    mode: "0755"
    owner: "{{ deploy_user }}"
    group: "deploy"
  become: true
  run_once: true
  tags: [setup]

- name: Solr_collection - update and configure Solr configset
  run_once: true
  tags: [solr_configset]
  block:
    - name: Solr_collection - sync project Solr configset files
      become: true
      become_user: "{{ deploy_user }}"
      # Use -i (itemized changes) to detect if anything actually moved
      ansible.builtin.command:
        cmd: >
          /usr/bin/rsync -ai --checksum {{ inventory_hostname }}:{{ deploy }}/solr_conf/
          /solr/cdh_solr/cdh_{{ app_name }}_solr_conf -e "ssh -o StrictHostKeyChecking=no"
      delegate_to: "{{ solr_server }}"
      register: rsync_out
      changed_when: "rsync_out.stdout != ''"

    - name: Solr_collection - get a list of current Solr collections
      ansible.builtin.uri:
        url: "{{ solr_url }}admin/collections?action=LIST"
      register: solr_collections_list

    - name: Solr_collection - update configset in ZooKeeper
      ansible.builtin.command: >
        /opt/solr/bin/solr zk upconfig
        -d /solr/cdh_solr/cdh_{{ app_name }}_solr_conf
        -n {{ solr_configset }} -z {{ zk_host }}
      delegate_to: "{{ solr_server }}"
      # Only upload if files changed or configset is missing from Solr
      when: rsync_out.changed or (solr_configset not in solr_collections_list.json.collections)

    - name: Create Solr collection if it does not already exist
      ansible.builtin.uri:
        url: "{{ solr_url }}admin/collections?action=CREATE&name={{ solr_collection }}&collection.configName={{ solr_configset }}&numShards={{ num_shards }}&replicationFactor={{ replication_factor }}"
      when: solr_collection not in solr_collections_list.json.collections
