{# This is the passenger/nginx configuration for PROXYING python wayback. #}
{# There is a separate passenger config for running python wayback on port 8080. #}
{% extends 'passenger.conf.j2' %}

{% block pre_server_config %}
# upstream placeholder

{% endblock %}

{% block root %}
location / {
     # the two outwork essays link without a slash; redirect to add trailing slash
     # to avoid a 404 when redirecting within the web archive
     rewrite ^(/outwork/2018/[a-zi-]+)$ $1/ permanent;
     proxy_pass http://localhost:8080/derrida/bn_/https://derridas-margins.princeton.edu/;
     proxy_set_header Host $host;
     proxy_set_header X-Forwarded-Proto $scheme;
     # allow intercepting errors so we can customize error page
     proxy_intercept_errors on;
  }
{% endblock %}

{% block static %}
  # look for local static files first, then pywb static files
  location ~ ^/pywb_static/(.*)$ {
      expires 10d;
      root /;
      try_files {{ passenger_static_path }}/$1 {{ passenger_app_root }}/env/lib/python{{ python_version }}/site-packages/pywb/static/$1 =404;
    }

  ## disabling: this causes more problems than it solves
  ## # serve project static files at /static/ OR from web archive
  ## location /static/ {
  ##   expires 10d;
  ##   root {{ passenger_app_root }};
  ##   # first try to serve from local static files, then try the web archive
  ##   try_files $uri http://localhost:8080/derrida/bn_/https://derridas-margins.princeton.edu/$uri;
  ##   ## # if not found locally, try the web
  ##   ## proxy_pass http://wayback/derrida/bn_/https://derridas-margins.princeton.edu/;
  ##   ## proxy_set_header Host $host;
  ##   ## proxy_set_header X-Forwarded-Proto $scheme;
  ##   # allow intercepting errors so we can customize error page
  ##   proxy_intercept_errors on;
  ## }
  ## these are the only static files that 404 according to caliper web crawl:
  ## static/safari-pinned-tab.svg, /static/manifest.json, /static/favicon-16x16.png
  ## /static/apple-touch-icon.png
  ## they are all present in static files directory

  ## # serve static fonts from the web archive
  ## location /static/fonts/ {
  ##   expires 10d;
  ##   alias {{ passenger_static_path }};
  ##   proxy_pass http://wayback/derrida/bn_/https://derridas-margins.princeton.edu/;
  ## }

  # serve favicon.ico and robots.txt from /static/
  location = /favicon.ico {
      expires 10d;
      alias {{ passenger_static_path }}/favicon.ico;
  }
  location = /robots.txt {
      expires 10d;
      alias {{ passenger_static_path }}/robots.txt;
  }

{% endblock %}

{# no media or fonts for this application #}
{% block media %}{% endblock %}
{% block fonts %}{% endblock %}

{% block extra_config %}
  # map sitemap urls to static copies managed with the app
  location ~ ^/sitemap(.*)$ {
      expires 10d;
      root /;
      try_files {{ passenger_app_root }}/static/sitemap$1 =404;
   }

  # configure 404 and 500 to return custom error pages included in the web archive
  # map 404/500 locations with intercept errors disabled
  location /404/ {
     proxy_pass http://localhost:8080/derrida/bn_/https://derridas-margins.princeton.edu/404/;
     proxy_set_header Host $host;
     proxy_set_header X-Forwarded-Proto $scheme;
     proxy_intercept_errors off;
   }
  location /_500/ {
     proxy_pass http://localhost:8080/derrida/bn_/https://derridas-margins.princeton.edu/_500/;
     proxy_set_header Host $host;
     proxy_set_header X-Forwarded-Proto $scheme;
     proxy_intercept_errors off;
   }
  error_page 404 /404/;
  error_page 500 /_500/;

{% endblock %}
