{% extends 'passenger.conf.j2' %}

{% block root %}
  location / {
     proxy_pass http://localhost:8080/derrida/bn_/https://derridas-margins.princeton.edu/;
     proxy_set_header Host $host;
     proxy_set_header X-Forwarded-Proto $scheme;
  }
{% endblock %}

{% block static %}
    # look for local static files first, then pywb static files
    location ~ ^/pywb_static/(.*)$ {
      expires 10d;
      root /;
      try_files {{ passenger_app_root }}/static/$1 {{ passenger_app_root }}/env/lib/python{{ python_version }}/site-packages/pywb/static/$1 =404;
    }

{% endblock %}

{# no media or fonts for this application #}
{% block media %}{% endblock %}
{% block fonts %}{% endblock %}

{% block extra_config %}
{% endblock %}
