 {% extends "passenger.conf.j2" %}

 {% block pre_server_config %}

 # asgi django channels app
 upstream websocket {
    server localhost:5000;
}

 {% endblock %}

  {% block root %}
  {{ super() }}

    location /ws/ {
        proxy_pass http://websocket;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }

    # configure shortcuts to favicon and robots.txt, adapted from escriptorium example nginx config
    location /favicon.ico {
        alias {{ passenger_static_path }}/images/favicon.ico;
    }

    location = /robots.txt {
        alias {{ passenger_static_path }}/robots.txt;
    }
  {% endblock %}
