server {
  listen {{ passenger_listen_port }} default_server;
  server_name {{ passenger_server_name }};

  # define django environment for split settings
  passenger_env_var DJANGO_ENV {% if qa is defined %}staging{% else %}production{% endif %};

  set_real_ip_from 128.112.203.144;
  set_real_ip_from 128.112.203.145;
  set_real_ip_from 128.112.203.146;
  real_ip_header X-Real-IP;

  access_log /var/log/nginx/access.log custom;

  # increase upload size from nginx default of 1MB
  client_max_body_size 50M;

  # Enable Gzip
  gzip  on;
  gzip_http_version 1.0;
  gzip_comp_level 2;
  gzip_min_length 1100;
  gzip_buffers     4 8k;
  gzip_proxied any;
  gzip_types
    # text/html is always compressed by HttpGzipModule
    text/css
    text/javascript
    text/xml
    text/plain
    text/x-component
    application/javascript
    application/json
    application/xml
    application/rss+xml
    font/truetype
    font/opentype
    application/vnd.ms-fontobject
    image/svg+xml svg svgz;

  gzip_static on;

  gzip_proxied        expired no-cache no-store private auth;
  gzip_disable        "MSIE [1-6]\.";
  gzip_vary           on;

  location / {
    passenger_enabled {{ passenger_enabled }};
    passenger_app_root {{ passenger_app_root }};
    passenger_app_type wsgi;
    passenger_startup_file {{ passenger_startup_file }};
    passenger_python {{ passenger_python }};

    passenger_set_header X-Forwarded-Proto https;
    passenger_set_header X-Forwarded-For $remote_addr;
    root {{ passenger_app_root }};
  }

  # set up general /static/ and /media/ serving
  {% block static %}
  {% if passenger_static_path %}
  location /static/ {
    expires 10d;
    alias {{ passenger_static_path }};
  }
  {% endif %}
  {% endblock %}

  {% block media %}
  location /media/ {
    expires 7d;
    alias {{ media_root }};  # MUST end with trailing slash
  }
  {% endblock %}
  {% block fonts %}
  # support serving restricted/purchased webfonts at /static/fonts/
  location /static/fonts/ {
    expires 10d;
    alias {{ font_path }};  # MUST end with trailing slash
 }
 {% endblock %}

 {% block extra_config %}
 {{ passenger_extra_config }}
 {% endblock %}

}
