seeds:
{% for seed in browsertrix_crawl_seeds %}
  - url: "{{ seed.url }}"
    scopeType: "{{ seed.scopeType | default('host') }}"

{% endfor %}

blockRules:
   - url: googleanalytics.com
   - url: www.googletagmanager.com
