---
# tasks file for deploy_user
- name: set up deploy user
  block:
    - name: create deploy user group
      become: true
      group:
        name: "{{ deploy_user }}"

    - name: create deploy user
      become: true
      user:
        name: "{{ deploy_user }}"
        groups:
          - "{{ deploy_user }}"
          - "{{ apache_group }}"
        home: "/home/{{ deploy_user }}"
        shell: "{{ deploy_user_shell }}"

    - name: Create bash profile
      become: true
      template:
        src: "bash_profile.j2"
        dest: "/home/{{ deploy_user }}/.profile"
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        mode: 0600

    - name: "Create pulsys bash alias file"
      template:
        src: "pulsys_bash_alias.j2"
        dest: "/home/{{ ansible_user }}/.bash_aliases"
        mode: 0600

  rescue:
    - include_tasks: roles/create_deployment/tasks/fail.yml
