---
# tasks file for deploy_user
- name: set up deploy user
  become: true
  block:
    - name: create deploy user group
      group:
        name: "{{ deploy_user }}"

    - name: create deploy user
      user:
        name: "{{ deploy_user }}"
        groups:
          - "{{ deploy_user }}"
          - "{{ apache_group }}"
        home: "/home/{{ deploy_user }}"
        shell: "{{ deploy_user_shell }}"

    - name: Create bash profile
      template:
        src: "bash_profile.j2"
        dest: "/home/{{ deploy_user }}/.profile"
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        mode: 0600

    - name: Check to see if .ssh directory exists
      stat:
        path: "/home/{{ deploy_user }}/.ssh/"
      register: deploy_user_ssh_dir

    - name: Create the .ssh directory
      file:
        path: "/home/{{ deploy_user }}/.ssh/"
        state: directory
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        mode: 0700
      when: not deploy_user_ssh_dir.stat.exists

    - name: Install private ssh key
      copy:
        src: files/id_rsa
        dest: "/home/{{ deploy_user }}/.ssh/id_rsa"
        owner: "{{ deploy_user }}"
        group: "{{ deploy_user }}"
        mode: 0600

    - name: Add SSH public key
      authorized_key:
        user: "{{ deploy_user }}"
        key: "{{ lookup('file', 'files/id_rsa.pub') }}"

    - name: Allow "authorized_key" files
      lineinfile: >
                  dest=/etc/ssh/sshd_config
                  state=present
                  backrefs=yes
                  regexp='^#AuthorizedKeysFile(.*?)$'
                  line="AuthorizedKeysFile\1"

    - name: deploy_user | allow deploy user to SSH
      lineinfile: >
                  dest=/etc/ssh/sshd_config
                  state=present
                  backrefs=yes
                  regexp='^AllowUsers(.*?)( ?)({{ deploy_user }})?$'
                  line="AllowUsers\1 {{ deploy_user }}"
      notify:
        - restart ssh

  rescue:
    - include_tasks: roles/create_deployment/tasks/fail.yml
