---
# Git refspec to use, either default or passed by "-e ref=<refspec>
gitref: '{{ ref | default("main") }}'
# email prefix for admin emails
email_prefix: "[CDH Web] "
# allowed hosts for Django
allowed_hosts:
  - "cdh.princeton.edu"
  - "digitalhumanities.princeton.edu"
  - "cdh-web1"
  - "localhost"
  - "127.0.0.1"

# cdhweb production contexts required for deploy
deploy_contexts:
    - 'Python unit tests'
    # - 'codecov/project'
    # - 'codecov/patch'

# 2023-08 disabled codecov deploy contexts because they were not present
