from escriptorium.settings import *
from django.utils.translation import gettext_lazy as _

# DEBUG = True

# enable french and german
LANGUAGES = [
    ('en', _('English')),
    ('fr', _('French')),
    ('de', _('German'))
]

# disables cache for dev env
# CACHES = {
#     'default': {
#         'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
#     }
# }

# Cryptographic key for signing secrets. Keep the production key hidden!
# https://docs.djangoproject.com/en/dev/ref/settings/#secret-key
SECRET_KEY = "{{ django_secret_key }}"

# Display detailed error messages. Turn off in production!
# https://docs.djangoproject.com/en/dev/ref/settings/#debug
DEBUG = {{ django_debug }}

# Valid hostnames this site can serve.
# https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts
ALLOWED_HOSTS = [{% for host in django_allowed_hosts %}"{{ host }}", {% endfor %}]

CSRF_TRUSTED_ORIGINS = ["https://*.princeton.edu", "http://localhost:8000"]

# Use x-forwarded-proto header to tell if request from nginx was https or not
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

# Show a small "this is a test site" banner for QA sites, if corresponding
# template and stylesheet are present.
SHOW_TEST_WARNING = {{ django_test_warning }}

{% if media_root is defined %}
# Configure media root path
MEDIA_ROOT = '{{ media_root }}'
{% endif %}

# Database configuration
# https://docs.djangoproject.com/en/dev/ref/databases/
{% block db_config %}
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.{{ django_db_backend }}",
        "NAME": "{{ django_db_name }}",
        "USER": "{{ django_db_user }}",
        "PASSWORD": "{{ django_db_password }}",
        "HOST": "{{ django_db_host }}",
    },
}
{% endblock %}

# Princeton CAS configuration (authentication, user account creation)
# https://github.com/Princeton-CDH/django-pucas
{% block cas_config %}
# CAS_SERVER_URL = "https://fed.princeton.edu/cas/"
# CAS_VERSION = "3"
# PUCAS_LDAP.update({
#     "SERVERS": [
#         "ldap2.princeton.edu",
#         "ldap3.princeton.edu",
#         "ldap4.princeton.edu",
#         "ldap5.princeton.edu"
#     ],
#     "SEARCH_BASE": "o=Princeton University,c=US",
#     "SEARCH_FILTER": "(uid=%(user)s)",
#})
{% endblock %}

# Email configuration (error messages, admin notifications)
# https://docs.djangoproject.com/en/dev/howto/error-reporting/
# https://docs.wagtail.io/en/latest/reference/settings.html#email-notifications
{% block email_config %}
ADMINS = [("CDH Dev Team", "cdhdevteam@princeton.edu")]
SERVER_EMAIL = "cdhdevteam@princeton.edu"
# use PUL pony express relay
EMAIL_HOST = "lib-ponyexpr.princeton.edu"
EMAIL_SUBJECT_PREFIX = "{{ django_email_subject }}"
EMAIL_USE_TLS = False
#EMAIL_PORT = 587
{% endblock %}

# Logging configuration
# https://docs.djangoproject.com/en/dev/topics/logging/
{% block logging_config %}
# Solution following https://stackoverflow.com/a/9541647
# Sends a logging email even when DEBUG is on
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'basic': {
            'format': '[%(asctime)s] %(levelname)s:%(name)s::%(message)s',
            'datefmt': '%d/%b/%Y %H:%M:%S',
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler',
            'include_html': True
        },
        # This configuration lets logrotate and its proper permissions #
        # handle this problem #
        'debug_log': {
            'level': 'DEBUG',
            'class': 'logging.handlers.WatchedFileHandler',
            'filename': '{{ django_logging_path }}',
            'formatter': 'basic',
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins', 'debug_log'],
            'level': 'ERROR',
            'propagate': True,
        },
        '{{ django_app }}': {
            'handlers': ['debug_log'],
            ## 'level': {% if runtime_env == "staging" %}'DEBUG'{% else %}'WARN'{% endif %},
            'level': 'WARN',
            'propagate': True,
        },
    }
}
{% endblock %}

# Solr configuration (search index)
# https://github.com/Princeton-CDH/parasolr
{% block solr_config %}
{% if solr_collection is defined %}
SOLR_CONNECTIONS = {
    'default': {
        'URL': '{{ solr_url }}',
        'COLLECTION': '{{ solr_collection }}',
        'CONFIGSET': '{{ solr_configset }}'
    }
}
{% endif %}
{% endblock %}

# Extra app-specific configuration
{% block extra_config %}{% endblock %}
