# managed by Ansible
# base Django local settings template

{% block preamble %}{% endblock %}

SECRET_KEY = "{{ django_secret_key }}"
DEBUG = {{ django_debug }}
ALLOWED_HOSTS = [{% for host in django_allowed_hosts %}"{{ host }}", {% endfor %}]
SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTO", "https")
SHOW_TEST_WARNING = {{ django_test_warning }}

{% if media_root is defined %}
MEDIA_ROOT = "{{ media_root }}"
{% endif %}

{% block db_config %}
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.{{ django_db_backend }}",
        "NAME": "{{ django_db_name }}",
        "USER": "{{ django_db_user }}",
        "PASSWORD": "{{ django_db_password }}",
        "HOST": "{{ django_db_host }}",
        "PORT": "{{ django_db_port | default('') }}",
    },
}
{% endblock %}

{% block cas_config %}
CAS_SERVER_URL = "https://fed.princeton.edu/cas/"
CAS_VERSION = "3"

PUCAS_LDAP = {
    **globals().get("PUCAS_LDAP", {}),
    "SERVERS": [
        "ldap2.princeton.edu",
        "ldap3.princeton.edu",
        "ldap4.princeton.edu",
        "ldap5.princeton.edu",
    ],
    "SEARCH_BASE": "o=Princeton University,c=US",
    "SEARCH_FILTER": "(uid=%(user)s)",
}
{% endblock %}

{% block email_config %}{% endblock %}
{% block csp_config %}{% endblock %}
{% block logging_config %}{% endblock %}
{% block solr_config %}{% endblock %}
{% block extra_config %}{% endblock %}
