{% extends 'local_settings.py.j2' %}

{% block extra_config %}
# Media settings for running under nginx in production and QA
MEDIA_ROOT = '{{ media_root }}'
MEDIA_URL = '/media/'

# Email address for a technical contact.
TECHNICAL_CONTACT = '{{ technical_contact }}'

# Set local path to HathiTrust pairtree data provided via rsync
HATHI_DATA = '{{ hathitrust_pairtree_path }}'

# local path for selected EEBO-TCP content; should contain
# xml and marc files named by TCP id
EEBO_DATA = '{{ eebo_data_path }}'

# Email address for a technical contact.
# Will be used in From header for HathiTrust API requests
TECHNICAL_CONTACT = '{{ technical_contact }}'

GALE_API_USERNAME = '{{ gale_api_username }}'

# tigerdata path for locally-generated Gale OCR data
GALE_LOCAL_OCR = '{{ gale_ocr_data_path }}'

# local path for cached marc records; needed for Gale/ECCO import
MARC_DATA = '{{ marc_data_path }}'

{% if runtime_env == "production" %}
# Turn on Google Analytics
INCLUDE_ANALYTICS = True
GTAGS_ANALYTICS_ID = 'G-FJG5ZQ5KGR'
# Configure to enable Plausible analytics in production with desired options
PLAUSIBLE_ANALYTICS_SCRIPT = (
    "https://plausible.io/js/script.file-downloads.hash.outbound-links.js"
)
PLAUSIBLE_ANALYTICS_404s = True
{% endif %}
{% if runtime_env == "staging" %}
# Turn on test banner to help distinguish staging from production
SHOW_TEST_WARNING = True
{%  endif  %}

# Allow Plausible analytics
CSP_SCRIPT_SRC += ("plausible.io",)
CSP_CONNECT_SRC += ("plausible.io",)


{% endblock %}
