---
- name: Converge
  hosts: all
  vars:
    deploy_user: conan
    app_name: "derrida"
    repo: "derridas-margins-archive"
    python_app: "derrida" 
    repo_url: "https://github.com/Princeton-CDH/derridas-margins-archive.git"
    gitref: "staging"
    # Mock the short_hash since repo_info won't exist until the task runs
    short_hash: "{{ repo_info.after[0:6] | default('local') }}"
    version: "{{ python_app_version | default('1.0') }}"
    deploy: "{{ install_root }}/{{ version }}-{{ short_hash }}"
    install_root: "/srv/www/{{ app_name }}"
    clone_root: "/home/{{ deploy_user }}/repos"
    
  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      when: ansible_os_family == "Debian"

    - name: Create deploy user
      ansible.builtin.user:
        name: "{{ deploy_user }}"

    - name: Install git
      ansible.builtin.apt:
        name: git
        state: present

    - name: Force Git to use HTTP/1.1 to avoid curl 92 errors
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.command: git config --global http.version HTTP/1.1
      changed_when: false

    - name: Increase Git post buffer for large clones
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.command: git config --global http.postBuffer 524288000
      changed_when: false

  tasks:
    - name: "Include build_project_repo"
      ansible.builtin.include_role:
        name: build_project_repo
