---
- name: Verify
  hosts: all
  tasks:
    - name: Verify deploy directory exists
      ansible.builtin.stat:
        path: "{{ deploy }}"
      register: d_stat

    - name: Assert deploy directory is correct
      ansible.builtin.assert:
        that:
          - d_stat.stat.exists
          - d_stat.stat.pw_name == deploy_user

    - name: Check git status as deploy_user
      become: true
      become_user: "{{ deploy_user }}"
      ansible.builtin.command:
        cmd: "git rev-parse --is-shallow-repository"
        chdir: "{{ deploy }}"
      register: git_check
      changed_when: false

    - name: Assert it is a shallow clone
      ansible.builtin.assert:
        that:
          - "'true' in git_check.stdout"
