# Apache virtualhost config file for {{ app_name }}
# NOTE: this file is {{ ansible_managed }}

<VirtualHost *:{{ apache_listen_port }}>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache.docroot }}
    ServerName {{ apache.servername }}

    # environment variables for {{app_name}}
    {% for variable in app_vars %}
    SetEnv {{variable.name}} {{variable.value}}
    {% endfor %}

    WSGIDaemonProcess {{ app_name }} group={{ deploy_user }} python-path={{ apache_app_path }}/env/lib/{{ python_version }}/site-packages:{{ apache_app_path }} python-home={{ apache_app_path }}/env processes=1 threads=2
    WSGIScriptAlias / {{ apache_app_path }}/{{ wsgi_path }}

    <Directory {{ apache_app_path }}>
        WSGIProcessGroup {{ app_name }}
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>