# Apache virtualhost config file for {{ app_name }}
# NOTE: this file is {{ ansible_managed }}

<VirtualHost *:{{ apache_port }}>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache_app_path }}
    ServerName {{ apache_servername }}

    WSGIDaemonProcess {{ app_name }} group={{ deploy_user }} python-path={{ apache_app_path }}/env/lib/{{ python_version }}/site-packages:{{ apache_app_path }} python-home={{ apache_app_path }}/env processes=1 threads=2
    WSGIScriptAlias {{ apache_app_url }} {{ apache_app_path }}/{{ wsgi_path }}

    # support serving restricted/purchased webfonts at /static/fonts
    Alias {{ apache_app_url }}{% if not apache_app_url.endswith('/') %}/{% endif %}static/fonts/ {{ apache_font_path }}
    # protect direct access to fonts; require princeton referer
    <Directory '{{ apache_font_path }}'>
      RewriteEngine on
      RewriteCond %{HTTP_REFERER} !^https://(.*).princeton\.edu [NC]
      RewriteRule .* - [F]
      Require all granted
    </Directory>

    # set up general /static/ and /media/ serving
    Alias {{ apache_app_url }}{% if not apache_app_url.endswith('/') %}/{% endif %}static/ {{ apache_app_path }}/static/
    {% if media_root is defined %}
    Alias {{ apache_app_url }}{% if not apache_app_url.endswith('/') %}/{% endif %}media/ {{ media_root }}
    <Directory "{{ media_root }}">
      Require all granted
      Options FollowSymlinks
    </Directory>
    {% endif %}

    # optionally include extra config files, if they exist
    IncludeOptional /etc/apache2/conf-available/{{ app_name }}_extraconf_*.conf

    # add more descriptive log file names
    ErrorLog {{ apache_log_path }}/{{ app_name }}_error.log
    TransferLog {{ apache_log_path }}/{{ app_name }}_access.log

    <Directory {{ apache_app_path }}>
        WSGIProcessGroup {{ app_name }}
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>