# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/setup
- name: Setup - load vaulted setup variables if appropriate
  ansible.builtin.include_vars:
    file: vars/vault.yml
  when: geniza_deploy_only is not defined or geniza_deploy_only == ""
  tags: [setup, never]

- name: Setup - configure NFS mount point
  ansible.builtin.import_tasks: nfs.yml
  when: nfs_enabled

- name: Setup - configure TigerData NFS mount point
  ansible.builtin.import_tasks: tigerdata_nfs.yml
  when: tigerdata_enabled

- name: Setup - install and configure rclone
  ansible.builtin.import_tasks: rclone.yml
