---
- name: Setup - ensure the primary deploy group exists
  ansible.builtin.group:
    name: "deploy"
    state: present
  tags: [setup, nfs]

- name: Setup - ensure TigerData group "{{ tigerdata_cdh_group }}" exists
  ansible.builtin.group:
    name: "{{ tigerdata_cdh_group }}"
    state: present
    gid: "{{ tigerdata_cdh_gid }}"
  tags: [setup, nfs]

- name: Setup - ensure deploy user "{{ deploy_user }}" is provisioned
  ansible.builtin.user:
    name: "{{ deploy_user }}"
    group: "deploy"
    groups: "{{ tigerdata_cdh_group }}"
    append: true
    shell: /bin/bash
    create_home: true
    state: present
  tags: [setup, nfs]

- name: Setup - distribute SSH public keys for {{ deploy_user }}
  ansible.builtin.authorized_key:
    user: "{{ deploy_user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
    exclusive: no
  tags: [setup, nfs]
