###
# Install JS dependencies using npm.
#
# This role installs npm packages and depends on there being a package.json
# present in the project root directory (deploy).
###
---
- name: npm configuration tasks
  block:

    - name: ensure nodejs and package managers are installed
      become: true
      tags: setup
      community.general.snap:
        name: node
        classic: true
        channel: "{{ node_version }}"
        state: present
      when: ansible_distribution == "Ubuntu"

    - name: install javascript dependencies with npm
      become: true
      become_user: "{{ deploy_user }}"
      npm:
        path: "{{ deploy }}"
        ci: true

  rescue:
    - include_tasks: roles/create_deployment/tasks/fail.yml
