# managed by Ansible
#
{% block basic_settings %}
DEBUG = {{ debug_setting }}

ALLOWED_HOSTS = [{% for host in allowed_hosts %}'{{ host }}', {% endfor %}]

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ secret_key }}'

{% if runtime_env == "staging" %}
SHOW_TEST_WARNING = True
{% endif %}

{% endblock %}

{% block database %}
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.{{ db_backend }}',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_username }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': '',
        'CHARSET': 'utf8',
        'COLLATION': 'utf8_general_ci',
        {% if db_backend == "mysql" %}
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        }
        {% endif %}
    },
}
{% endblock %}

{% block cas_config %}
CAS_SERVER_URL = 'https://fed.princeton.edu/cas/'
CAS_VERSION = '3'

PUCAS_LDAP = {
    **globals().get('PUCAS_LDAP', {}),
    'SERVERS': [
        'ldap2.princeton.edu',
        'ldap3.princeton.edu',
        'ldap4.princeton.edu',
        'ldap5.princeton.edu'
    ],
    'SEARCH_BASE': 'o=Princeton University,c=US',
    'SEARCH_FILTER': "(uid=%(user)s)",
}
{% endblock %}
