---
# by default this playbook runs in the staging environment
# to run in production, pass '-e runtime_env=prod'
- name: build the derrida website
  hosts: derrida_{{ runtime_env | default('staging') }}
  connection: ssh
  remote_user: deploy
  # Set environment to use scl rh-python35 in group_vars
  environment:
    PATH: '{{ path }}'
    LD_LIBRARY_PATH: '{{ ld_library_path }}'
    PYTHONPATH: '{{ python_path }}'
  roles:
    - create_deployment
    - build_project_repo
    - build_virtualenv
    - install_local_settings
    - configure_media
    - configure_logging
    - derrida_fonts
    - django_collectstatic
    - django_compressor
    - backup_database
    - django_migrate
    - finalize_deploy
    - close_deployment
