---
dependency:
  name: galaxy
  enabled: false
driver:
  name: docker
platforms:
  - name: instance
    image: "pulibrary/puldocker-${MOLECULE_DISTRO:-ubuntu1804}-ansible:latest"
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  log: true
verifier:
  name: ansible
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
