---
name: Molecule Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        role:
          - deploy_user
          - passenger
          - python
          # - postgresql
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            pip-${{ hashFiles('requirements.txt') }}
            pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          python -m pip install -r requirements.txt
      - name: Create unencrypted ssh key for testing deploy user
        run: |
          rm roles/deploy_user/files/id_rsa*
          ssh-keygen -f roles/deploy_user/files/id_rsa -P=

      - name: Test with molecule
        run: cd roles/${{ matrix.role }} && molecule test
        # not using working-directory because it does not support expressions
