---
- name: install and configure apache
  become: true
  block:
    - name: ensure required packages are present
      apt:
        name: ["apache2", "libapache2-mod-wsgi-py3"]
        state: present
        update_cache: true

    - name: set up webfonts directory
      file:
        path: "{{ apache_font_path }}"
        state: directory
        owner: "{{ apache_user }}"
        group: "{{ apache_group }}"
        recurse: true

    - name: install apache modules
      apache2_module:
        name: "{{ item }}"
        state: present
      notify: restart apache
      with_items: "{{ apache_default_modules + apache_app_modules }}"

    - name: ensure apache is listening on the configured port
      lineinfile:
        path: /etc/apache2/ports.conf
        regexp: "^Listen {{ apache_port }}$"
        insertafter: "^Listen 80$"
        line: Listen {{ apache_port }}

    - name: install project apache site config to available sites
      template:
        src: "vhosts24.conf.j2"
        dest: "{{ apache_app_config }}"
      notify: restart apache
    # todo: only restart when file is changed?

    - name: create extra apache config file if defined
      copy:
        dest: "{{ apache_extraconf.path }}"
        content: "{{ apache_extraconf.content }}"
      when: apache_extraconf is defined

    - name: enable project apache site config
      file:
        src: "{{ apache_app_config }}"
        dest: "/etc/apache2/sites-enabled/{{ apache_conf_name }}.conf"
        state: link

      # also restart if link is changed?
    - name: remove default site symlink
      file:
        path: /etc/apache2/sites-enabled/000-default.conf
        state: absent
